<header class="flex justify-between items-center px-8 h-[7vh] border-b">
  <div class="flex items-center gap-1">
    <button nz-button nzType="text" (click)="open()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
      >
        <path d="M17 6.1H3"></path>
        <path d="M21 12.1H3"></path>
        <path d="M15.1 18H3"></path>
      </svg>
    </button>
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Basic Drawer"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </ng-container>
    </nz-drawer>
    <span class="font-bold text-2xl">ChatApp</span>
  </div>
  @if(!isLoggedIn) {
    <a href="/login">
      <button nz-button nzType="primary" nzSize="large">Login</button>
    </a>
  }
  @else {
    <button nz-button nzType="text" class="overflow-hidden" nzShape="circle" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
      <span nz-icon nzType="user" nzTheme="outline" class="text-3xl"></span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>{{ user.displayName }}</li>
        <li nz-menu-item (click)="handleLogout()">Sign-out</li>
      </ul>
    </nz-dropdown-menu>
  }
</header>
