<header class="flex justify-between items-center px-8 py-4 border-b">
  <div class="flex items-center gap-1">
    <button nz-button nzType="text" (click)="open()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
      >
        <path d="M17 6.1H3"></path>
        <path d="M21 12.1H3"></path>
        <path d="M15.1 18H3"></path>
      </svg>
    </button>
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Basic Drawer"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </ng-container>
    </nz-drawer>
    <span class="font-bold">ChatApp</span>
  </div>
  <span nz-icon nzType="user" nzTheme="outline"></span>
</header>
