<button nz-button nzType="primary" (click)="showModal()">Change</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Change your password"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form class="space-y-6">
      <div>
        <label class="text-sm font-medium text-gray-700"> Old Password </label>
        <nz-input-group [nzSuffix]="suffixTemplate1">
          <input
            [type]="oldPasswordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter password..."
            name="password"
            [(ngModel)]="oldPassword"
          />
        </nz-input-group>
        <ng-template #suffixTemplate1>
          <span
            nz-icon
            [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
            (click)="oldPasswordVisible = !oldPasswordVisible"
          ></span>
        </ng-template>
      </div>
      <div>
        <label class="text-sm font-medium text-gray-700"> New Password </label>
        <nz-input-group [nzSuffix]="suffixTemplate2">
          <input
            [type]="newPasswordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter password..."
            name="password"
            [(ngModel)]="newPassword"
          />
        </nz-input-group>
        <ng-template #suffixTemplate2>
          <span
            nz-icon
            [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
            (click)="newPasswordVisible = !newPasswordVisible"
          ></span>
        </ng-template>
      </div>
      <div>
        <label class="text-sm font-medium text-gray-700">
          Confirm New Password
        </label>
        <nz-input-group [nzSuffix]="suffixTemplate3">
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter password..."
            name="password"
            [(ngModel)]="confirmPassword"
          />
        </nz-input-group>
        <ng-template #suffixTemplate3>
          <span
            nz-icon
            [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
            (click)="confirmPasswordVisible = !confirmPasswordVisible"
          ></span>
        </ng-template>
      </div>
    </form>
  </ng-container>
</nz-modal>
