<section class="container mx-auto py-20 min-h-[93vh] grid place-items-center">
  <div class="w-full max-w-md p-8 space-y-4 bg-white shadow-md rounded-sm">
    <h2 class="text-2xl font-semibold text-center text-gray-700">
      Register an account
    </h2>
    <div class="grid grid-cols-2 gap-4 my-4">
      <button
        class="flex items-center justify-center space-x-2 h-12 border border-black rounded-sm hover:bg-gray-50 transition-colors"
        (click)="handleGoogleLogin()"
      >
        <img src="assets/google.svg" alt="" />
        <span>Google</span>
      </button>
      <button
        class="flex items-center justify-center space-x-2 h-12 bg-black text-white rounded-sm hover:bg-slate-900 transition-colors"
        (click)="handleGithubLogin()"
      >
        <span nz-icon nzType="github" nzTheme="outline"></span>
        <span>Github</span>
      </button>
    </div>
    <div class="relative my-2">
      <div aria-hidden="true"
           class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300" ></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-white text-gray-500">
          Or register with your email
        </span>
      </div>
    </div>
    <form class="space-y-6">
      <div>
        <label class="text-sm font-medium text-gray-700">
          Email Address
        </label>
        <input type="email"
               nz-input placeholder="Enter email..."
               name="email"
               [(ngModel)]="email"/>
      </div>
      <div>
        <label class="text-sm font-medium text-gray-700">
          Password
        </label>
        <nz-input-group [nzSuffix]="suffixTemplate1">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter password..."
            name="password"
            [(ngModel)]="password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate1>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
      </div>
      <div>
        <label class="text-sm font-medium text-gray-700">
          Confirm Password
        </label>
        <nz-input-group [nzSuffix]="suffixTemplate2">
          <input
            [type]="passwordConfirmVisible ? 'text' : 'password'"
            nz-input
            placeholder="Enter confirm password..."
            name="password"
            [(ngModel)]="passwordConfirm"
          />
        </nz-input-group>
        <ng-template #suffixTemplate2>
          <span
            nz-icon
            [nzType]="passwordConfirmVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordConfirmVisible = !passwordConfirmVisible"
          ></span>
        </ng-template>
      </div>
      <button
        nz-button
        nzType="primary"
        class="w-full"
        type="submit"
        (click)="handleRegister()"
        [disabled]="isDisabled">
        Register
      </button>
    </form>
    <div class="flex items-center justify-center">
      <span class="text-sm text-gray-600">
        Already have an account?
      </span>
      <a class="ml-1 text-sm font-medium text-gray-600 hover:underline"
         href="/login">
        Log in
      </a>
    </div>
  </div>
</section>
